.nav {
  display: flex;
  background-color: black;
  height: 11rem;
}
.nav_logo {
  margin: 5rem;
}
.nav_logo img {
  width: 10rem;
}
.nav_links {
  margin-top: 7rem;
}
.nav_links_characters, .nav_links_comics, .nav_links_favorites {
  text-decoration: none;
  color: white;
  font-weight: bold;
  margin-right: 2rem;
}
.nav_links_characters:hover, .nav_links_comics:hover, .nav_links_favorites:hover {
  color: #ef2c1f;
}
.nav_connection {
  margin-top: 7rem;
  margin-left: 20rem;
}
.nav_connection_login {
  text-decoration: none;
  color: white;
  font-weight: bold;
  margin: 2rem;
}
.nav_connection_login:hover {
  color: #ef2c1f;
}
.nav_connection button {
  background-color: #ef2c1f;
  color: white;
  font-weight: bold;
  width: 6rem;
  border-radius: 2rem;
  padding: 0.2rem 0 0.2rem 0;
}
.nav_connection button:hover {
  background-color: white;
  color: #ef2c1f;
}

.footer {
  background-color: #ef2c1f;
  display: flex;
  justify-content: center;
}
.footer img {
  display: flex;
  width: 7rem;
  padding: 1rem 0 1rem 0;
}

.characters,
.charactersComics {
  background-color: black;
}
.characters_title,
.charactersComics_title {
  display: flex;
  margin-left: 5rem;
}
.characters_title p,
.charactersComics_title p {
  margin-right: 0.5rem;
  font-weight: bold;
  font-size: x-large;
}
.characters_title input,
.charactersComics_title input {
  margin-top: 1.5rem;
  margin-left: 35rem;
  width: 20rem;
  height: 2rem;
  border-radius: 1rem;
}
.characters_line,
.charactersComics_line {
  background-color: white;
  height: 0.3rem;
  width: 20rem;
  margin-left: 5rem;
  margin-bottom: 4rem;
}
.characters_specialLine,
.charactersComics_specialLine {
  background-color: white;
  height: 0.3rem;
  width: 30rem;
  margin-left: 5rem;
  margin-bottom: 4rem;
}
.characters_display,
.charactersComics_display {
  display: flex;
  flex-wrap: wrap;
}

.comics {
  background-color: black;
}
.comics_title {
  display: flex;
  margin-left: 5rem;
}
.comics_title p {
  margin-right: 0.5rem;
  font-weight: bold;
  font-size: x-large;
}
.comics_title input {
  margin-top: 1.5rem;
  margin-left: 40rem;
  width: 20rem;
  height: 2rem;
  border-radius: 1rem;
}
.comics_line {
  background-color: white;
  height: 0.3rem;
  width: 20rem;
  margin-left: 5rem;
  margin-bottom: 4rem;
}
.comics_display {
  display: flex;
  flex-wrap: wrap;
}

.characterCard,
.comicCard {
  margin: 5rem;
  cursor: pointer;
}
.characterCard img,
.comicCard img {
  width: 16.4rem;
  height: 18rem;
  border-radius: 1rem 1rem 0 0;
}
.characterCard_line,
.comicCard_line {
  background-color: #ef2c1f;
  height: 0.3rem;
  width: 16.4rem;
}
.characterCard_name, .characterCard_title,
.comicCard_name,
.comicCard_title {
  color: #ef2c1f;
  background-color: white;
  width: 16.4rem;
  font-weight: bold;
  text-align: center;
  padding: 1rem 0 1rem 0;
}
.characterCard_description,
.comicCard_description {
  color: grey;
  background-color: white;
  width: 15rem;
  border-radius: 0 0 1rem 1rem;
  text-align: justify;
  padding: 0 0.7rem 0.7rem 0.7rem;
}

.pageNumbers {
  list-style: none;
  display: flex;
}
.pageNumbers li {
  padding: 10px;
  border: 1px solid white;
  cursor: pointer;
}

body {
  margin: 0;
  padding: 0;
}

/*# sourceMappingURL=style.css.map */
